{% extends './base.html' %}
{% load bootstrap5 %}
{% block content %}
<div class="container">
    <div class="row justify-content-center align-self-center">
        <div class="col-md-10">
            <form method="POST" action="">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" class="btn btn-primary" name="Create User">
                <button onclick="location.href = '/'" class="btn btn-primary" name="Inscription">Inscription</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
