<div class="col-md-8 border border-primary mb-4">
{% if user == post.user %}
    <div class="mt-4">Vous avez publié une critique</div>
{% else %}
    <div class="mt-4">{{ post.user }} a publié une critique</div>
{% endif %}
    <div class="text-end">{{ post.time_created }}</div>
    <div  class="mb-4">
        <span>{{ post.headline }}</span>
        {% if  post.rating == 0 %}<span>☆☆☆☆☆</span>{% endif %}
        {% if  post.rating == 1 %}<span>★☆☆☆☆</span>{% endif %}
        {% if  post.rating == 2 %}<span>★★☆☆☆</span>{% endif %}
        {% if  post.rating == 3 %}<span>★★★☆☆</span>{% endif %}
        {% if  post.rating == 4 %}<span>★★★★☆</span>{% endif %}
        {% if  post.rating == 5 %}<span>★★★★★</span>{% endif %}
    </div>
    <div>{{ post.body }}</div>
    <div class="container border border-success mb-4 mt-4">
        <div class="mt-4">Ticket - {{ post.ticket.user }}</div>
        <div class="text-end">{{ post.ticket.time_created }}</div>
        <div class="fw-bold">{{ post.ticket.title }}</div>
        <div class="mt-4">{{ post.ticket.description }}</div>
        {% if post.ticket.image %}<img src="{{ post.ticket.image.url }}" alt="book_image" class="w-25 p-3">{% endif %}
    </div>
    {% if request.get_full_path == "/reviews/posts/" %}
    <div class="text-end mb-4">
        <span class="m-2"><a href="/reviews/update_review/{{ post.id }}" class="btn btn-primary">Modifier</a></span>
        <span class="m-2"><a href="/reviews/delete_review/{{ post.id }}" class="btn btn-primary">Supprimer</a></span>
    </div>
    {% endif %}
</div>