{% extends './base.html' %}
{% load bootstrap5 %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-self-center">
        <div class="col-md-10">
            <h2 class="text-center">Suivre d'autres utilisateurs</h2>
            <form method="POST" action="">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input class="btn btn-primary" type="submit" value="Envoyer">
            </form>
        </div>
        <div class="col-md-10">
            <h2 class="text-center">Abonnements</h2>
            <table class="table  table-borderless">
                {% for user_follow in users_follows %}
                    <tbody>
                        <td>{{user_follow.followed_user}}</td>
                        <td class="text-end"><a href="/reviews/delete_subscription/{{user_follow.id}}" class="btn btn-secondary">Désabonner</a></td>
                    </tbody>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-10">
            <h2 class="text-center">Abonnés</h2>
            {% for user_follow in user_followed_by %}
            <div>
                <td>{{user_follow.user}}</td>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}