<div class="col-md-8 border border-success mb-4">
{% if user == post.user %}
    <div class="mt-4">Vous avez demandé une critique</div>
{% else %}
    <div class="mt-4">{{ post.user }} a demandé une critique</div>
{% endif %}
    
    <div class="text-end">{{ post.time_created }}</div>
    <div class="fw-bold">{{ post.title }}</div>
    <div class="mt-4">{{ post.description }}</div>
{% if post.image %}<img src="{{ post.image.url }}" alt="book_image" class="w-25 p-3">{% endif %}    
{% if post not in tickets_reviewed %}
    <div class="text-end mb-4"><a href="/reviews/create_review/{{ post.id }}" class="btn btn-primary">Créer une critique</a></div>
{% endif %}
{% if request.get_full_path == "/reviews/posts/" %}
    <div class="text-end mb-4">
        <span class="m-2"><a href="/reviews/update_ticket/{{ post.id }}" class="btn btn-primary">Modifier</a></span>
        <span class="m-2"><a href="/reviews/delete_ticket/{{ post.id }}" class="btn btn-primary">Supprimer</a></span>
    </div>
{% endif %}

</div>